@font-face {
    font-family: "Fiolex Girls";
    src: url("ruta/a/la/fuente/FiolexGirls-Regular.ttf");
}

.parrafo1 {
    font-family: "Fiolex Girls";
    src: url("./fonts/Filxgirl.TTF");
}

h1,
h2,
h3 {
    font-family: "Fiolex Girls", cursive;
}

.text_right {
    text-align: right;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(255, 255, 255);
    color: #000;
    font-family: "Roboto", sans-serif;
}

/* Barra de Navegacion */
/* .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    overflow: hidden;
    padding: 10px;
    z-index: 9999;
}

.navbar img {
    height: 80px;
    margin-right: 5px;
    max-width: 100%;
}

.navbar h1 {
    color: #fff;
    font-size: 60px;
    margin: 0 10px;
    flex-grow: 1;
    text-align: center;
    margin-left: 10px;
    max-width: 100%;
}

.navbar .links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 100%;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    max-width: 100%;
}

.navbar a:hover {
    background-color: #ff9191;
} */

nav > div > a {
    font-family: "Fiolex Girls";
    src: url("./fonts/Filxgirl.TTF");
    color: white;
    font-size: 48px !important;
}

.navbar-toggle {
    border: none;
    background-color: transparent;
    margin-top: 15px;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    margin-bottom: 3px;
    position: relative;
    background-color: #333;
}

.navbar-toggle .icon-bar:nth-child(2) {
    margin-top: 3px;
}

.navbar-collapse {
    display: none;
}

@media (max-width: 767px) {
    .navbar-collapse {
        display: block;
        position: absolute;
        margin-top: 20px;
        top: 50px;
        left: 0;
        right: 0;
        background-color: #333;
        z-index: 999;
    }

    .navbar-collapse li {
        display: block;
        text-align: center;
    }

    .navbar-collapse li a {
        display: inline-block;
        padding: 10px;
        font-size: 18px;
        color: #fff;
    }

    .navbar-brand {
        text-align: center;
        /* margin: -22px; */
        margin: -23px 0px -6px 50px !important;
        /* margin-left: 22px;
        margin-bottom: -5px; */
        width: 200px;
    }

    .navbar-brand img {
        margin-top: 0px;
        /* ajusta la posición vertical según sea necesario */
        margin-left: -70px;
        max-width: 40%;
        max-height: 80px;
        /* ajusta el tamaño del logo en dispositivos pequeños */
    }

    .navbar-brand span {
        display: block;
        font-size: 22px;
        /* ajusta el tamaño del texto en dispositivos pequeños */
    }
}

@media (min-width: 768px) {
    .navbar-collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
        visibility: visible !important;
    }

    .navbar-collapse.in {
        overflow-y: visible;
    }

    .navbar-fixed-top .navbar-collapse,
    .navbar-static-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        padding-right: 15px;
        padding-left: 15px;
    }

    .navbar-brand {
        float: left;
        margin-right: 15px;
    }

    .navbar-brand img {
        margin-top: -5px;
        /* ajusta la posición vertical según sea necesario */
        max-height: 70px;
        /* ajusta el tamaño del logo en dispositivos grandes */
    }

    .navbar-brand span {
        display: inline-block;
        font-size: 20px;
        /* ajusta el tamaño del texto en dispositivos grandes */
        margin-left: 10px;
        /* ajusta la separación entre la imagen y el texto */
        vertical-align: middle;
    }

    .navbar-nav {
        float: right;
        margin: 0;
    }

    .navbar-nav>li {
        float: left;
    }

    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
        line-height: 20px;
    }
}

/* Fin Barra de navegacion */

.container {
    width: 90%;
    max-width: 100%;
    /*ancho máximo de la página*/
    margin: 20px auto;
    /*auto permite centrar nuestra página en forma horizontal*/
    display: grid;
    gap: 20px;
    /*nos ahorramos tenes que poner márgenes entre los elementos*/

    /*3 columnas: content (con 2 widgets) + sidebar*/
    grid-template-columns: repeat(5, 1fr);

    /*4 filas: header, content, widgets, footer*/
    grid-template-rows: repeat(7, auto);

    grid-template-areas:
        "navbar navbar navbar navbar navbar"
        "header header header header sidebar"
        "content content content content sidebar"
        "content content content content sidebar"
        "financing financing financing financing sidebar"
        "widget-1 widget-1 widget-2 widget-2 sidebar"
        "footer footer footer footer footer";
}

.container>div,
.container .navbar {
    padding: 8px;
}

.container .header,
.container .content,
.container .financing,
.container .sidebar,
.container .footer {
    padding: 10px;
    /* border-radius: 4px; */
}

.container .navbar {
    background: rgb(211, 4, 211);
    color: white;
    grid-area: navbar;
}

.container .header {
    /* background: pink; */
    color: #fff;
    grid-area: header;
    /* padding: 80px 50px 0 50px; */
    margin-top: 60px;
}

.container .content {
    background: #fff;
    grid-area: content;
}

.container .financing {
    grid-area: financing;
}

.container .sidebar {
    background: orange;
    /*utilizamos flexbox para alinear el content*/
    display: flex;
    align-items: center;
    margin-top: 60px;
    justify-content: center;
    grid-area: sidebar;
    max-width: 100%;
}

.container .widget-1,
.container .widget-2 {
    background: lightskyblue;
    color: #000;
    height: 100px;
    /*utilizamos flexbox para alinear el content*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .widget-1 {
    grid-area: widget-1;
}

.container .widget-2 {
    grid-area: widget-2;
}

.container .footer {
    background: darkblue;
    color: #fff;
    grid-area: footer;
}

@media screen and (max-width: 768px) {
    .container {
        width: 768px;
        grid-template-areas:
            "navbar navbar navbar navbar navbar"
            "header header header header header"
            "financing financing financing financing financing"
            "content content content content sidebar"
            "content content content content sidebar"
            "widget-1 widget-1 widget-1 widget-2 widget-2"
            "footer footer footer footer footer";
    }
}

@media screen and (max-width: 450px) {
    .container {
        width: 450px;
        grid-template-areas:
            "navbar navbar navbar navbar navbar"
            "header header header header header"
            "content content content content content"
            "financing financing financing financing financing"
            "sidebar sidebar sidebar sidebar sidebar"
            "widget-1 widget-1 widget-1 widget-2 widget-2"
            "footer footer footer footer footer";
    }
}

/* Inicio CSS header */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.image-1 {
    grid-column: 1 / span 2;
    position: relative;
}

.image-2 {
    position: relative;
    max-width: 100%;
    width: 100%;
    height: auto;
}

.image-3 {
    position: relative;
    max-width: 100%;
    width: 100%;
    height: auto;
}

.zoomable {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
    position: relative;
}

.zoomable:hover {
    transform: scale(1.1);
}

.description {
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.zoomable:hover+.description {
    bottom: 10px;
    opacity: 1;
}

@media (max-width: 767px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .image-1 {
        grid-column: 1;
    }

    .image-2 {
        grid-column: 1;
    }

    .image-3 {
        grid-column: 1;
    }
}
/* Fin header */

/* Inicio CSS Productos Destacados */
.productos-destacados {
    padding: 50px 0;
}

.productos-destacados h2 {
    text-align: center;
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.producto {
    position: relative;
    width: 100%;
    padding-bottom: calc(100% / 1.5); /* Ajustar la proporción de aspecto según tus necesidades */
}

.producto img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.zoomable {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.zoomable:hover {
    transform: scale(1.1);
    filter: blur(5px);
}

.descripcion {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.zoomable:hover+.descripcion {
    opacity: 1;
}

@media (max-width: 767px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}