@font-face {
    font-family: 'Fiolex Girls';
    src: url('ruta/a/la/fuente/FiolexGirls-Regular.ttf');
}

.parrafo1 {
    font-family: 'Fiolex Girls';
    src: url('./fonts/Filxgirl.TTF');
}

h1 {
    font-family: 'Fiolex Girls', cursive;
}

.text_right {
    text-align: right;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(247, 215, 247);
    color: #000;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    overflow: hidden;
    padding: 10px;
    z-index: 9999;
}

.navbar img {
    height: 80px;
    margin-right: 5px;
    max-width: 100%;
}

.navbar h1 {
    color: #fff;
    font-size: 60px;
    margin: 0 10px;
    flex-grow: 1;
    text-align: center;
    margin-left: 10px;
    max-width: 100%;
}

.navbar .links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 100%;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    max-width: 100%;
}

.navbar a:hover {
    background-color: #ff9191;
}

.container {
    width: 90%;
    max-width: 1000px;
    /*ancho máximo de la página*/
    margin: 20px auto;
    /*auto permite centrar nuestra página en forma horizontal*/
    display: grid;
    gap: 20px;
    /*nos ahorramos tenes que poner márgenes entre los elementos*/

    /*3 columnas: content (con 2 widgets) + sidebar*/
    grid-template-columns: repeat(5, 1fr);

    /*4 filas: header, content, widgets, footer*/
    grid-template-rows: repeat(7, auto);

    grid-template-areas: "navbar navbar navbar navbar navbar"
                         "header header header header header"
                         "header header header header header"
                         "financing financing financing financing financing"
                         "content content content content sidebar"
                         "widget-1 widget-1 widget-2 widget-2 sidebar"
                         "footer footer footer footer footer";
}

.container>div,
.container .navbar {
    padding: 8px;
}

.container .header,
.container .content,
.container .sidebar,
.container .footer {
    padding: 10px;
    /* border-radius: 4px; */
}

.container .navbar {
    background: rgb(211, 4, 211);
    color: white;
    grid-area: navbar;
}

.container .header {
    background: pink;
    color: #fff;
    grid-area: header;
    /* padding: 80px 50px 0 50px; */
    margin: 60px 0 0 0;
}

.container .content {
    background: #fff;
    grid-area: content;
}

.container .sidebar {
    background: orange;
    /*utilizamos flexbox para alinear el content*/
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: sidebar;
}

.container .widget-1,
.container .widget-2 {
    background: lightskyblue;
    color: #000;
    height: 100px;
    /*utilizamos flexbox para alinear el content*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .widget-1 {
    grid-area: widget-1;
}

.container .widget-2 {
    grid-area: widget-2;
}

.container .footer {
    background: darkblue;
    color: #fff;
    grid-area: footer;
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-areas: "navbar navbar navbar navbar navbar"
                             "header header header header header"
                             "financing financing financing financing financing"
                             "content content content content sidebar"
                             "sidebar sidebar sidebar sidebar sidebar"
                             "widget-1 widget-1 widget-1 widget-2 widget-2"
                             "footer footer footer footer footer";
    }
}

@media screen and (max-width: 450px) {
    .container {
        grid-template-areas: "navbar navbar navbar"
            "header header header"
            "content content content"
            "widget-1 widget-1 widget-1"
            "widget-2 widget-2 widget-2"
            "sidebar sidebar sidebar"
            "footer footer footer";
    }
}

/* Estilos para la imagen grande */
.imagen-grande {
    float: left;
    width: 60%;
    margin-right: 20px;
}

.imagen-grande img {
    max-width: 100%;
    height: auto;
}

/* Estilos para las imágenes chicas */
.imagenes-chicas {
    float: right;
    width: 30%;
}

.imagen-chica {
    position: relative;
    margin-bottom: 20px;
}

.imagen-chica img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.descripcion {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s;
}

.imagen-chica:hover img {
    transform: scale(1.1);
}

.imagen-chica:hover .descripcion {
    opacity: 1;
}
